.protected-container {
    background-color: #131313;
    width: 95%;
    margin-top:22%;
    border-radius: 5px;
    box-shadow: 5px 5px 10px #282828;
    padding: 20px;
    
}
.faq-container {
    margin-top: 14%;
    background-color: #131313;
    width: 95%;
    border-radius: 5px;
    box-shadow: 5px 5px 10px #282828;
    padding: 20px;
    min-height: 800px;
}

.protected-container img,
.protected-container iframe {
    display: block;
    margin: auto;
    width: 500px;
    max-width: 90%;
}

@media only screen and (max-width: 700px) {
    .protected-container, .faq-container {
        width: 90%;
        margin-top:20%;
        margin-left: 5%;
    }
  }