@font-face {
    font-family: "ark";
    src: url('./fonts/ARK-Regular.ttf');    
  }

body {
    background-color: black !important;
}

.main {
    height:100vh;    
    position:absolute;
    top:0;
    left:0;
    width:100%;
    z-index: -1;
}
.bg-dark {
background-image: linear-gradient(to right, #18477d 0%, #18191d 100%);
}

.app-container {

    height: 100vh;
    color:#d0d0d0;
    font-family: "ark";
    font-size: 16px;
    text-transform: uppercase;

}

.navbar-nav a:hover,
.navbar-nav a:active {
    font-family: "ark";
    color: #9acd32 !important;
}

